.local{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--verdeClaro);
    position: relative;
    
    
}

.titulo_local{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verdeClaro);
    height: 60px;
    width: 100%;
    margin-bottom: -1px;
    padding-top: 30px;
    font-family: 'Escrita', sans-serif ;
    
}

.titulo_local h1{
    font-size: 2.5em;
    text-align: center;
    
}

.nome_local{
   text-align: justify;
   width: 100%;
    font-family: 'Escrita', sans-serif;
}

.icon_endereco{
    
    margin-bottom: -5px;
}

.icon_data{
    margin-bottom: -5px;
}

.icon_hora{
    margin-bottom: -5px;
}

.endereco{
    margin: 0px 0px 10px 0px;
}

.data{
    margin: 10px 0px 10px 0px;
}

.hora{
    margin: 10px 0px 10px 0px;
}


.carrossel_local{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.carrossel_local img{
    width: 100px;
    height: 110px;
    object-fit: cover;
    margin: 5px;

    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.divisao_local{
    width: 50%;
    height: 1px;
    background-color: black;

    margin: 10px 10px 20px 10px;
}

.mapa{
    margin-top: 20px;
    margin-bottom: 30px;
    border: 5px solid white;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
